# Python/Jupyter
env/
__pycache__/
.ipynb_checkpoints/

# System temporary files
.swp
.DS_Store

# VSCode
.vscode/

# Data file under dataset/ directory
dataset/recipescape*.json
dataset/*.npz
dataset/bbcgoodfood.json
